
// $principalColor: #DD2B1C;
$principalColor: #c91731;
$darkColor: #000000;

$firstLightColor: #FDF4F3;
// $secondLightColor: #E5E5E5;
$secondLightColor: #ececec;
$colorWhite: #fff;

$yellowColor: #FFED00;
// $redColor: #E30613;
$redColor: #c91731;
$orangeColor: #EA5B0C;
$purpleColor: #82368C;
$blueColor: #27348B;
$greenColor: #00983A;