

%title {
   font-size: 2.2rem;
   font-weight: 400;
   color: $principalColor;
   margin-top: 0;
   margin-bottom: 1rem;
   text-transform: uppercase;
}

%title__large {
   font-size: 2.6rem;
   font-weight: 700;
   color: $principalColor;
   margin-top: 0;
   margin-bottom: 1rem;
   text-transform: uppercase;
   color: $darkColor;
}